* {
  box-sizing: border-box;
}
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;  
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  background-color: #fff;
  color: #13191b;
  line-height: 1.7;
  font-size: 13px;
}
.top-wrapper{
  height:300px;
  background:url(img/fdbc5ff355eecda21f063b701c8b6b72.jpg);
  background-size:cover;
  padding-top:45px;
}
.top-contact{
  width:85%;
  margin:0 auto;
}
.top-logo img{
  float:left;
}
.top-list{
  float:right;
  padding-top:30px;
}
.top-list li{
  float:left;
  padding-right:35px;
}
.top-list li a{
  font-size:14px;
  color:white;
}
.top-list li a:hover{
  border-bottom:2px solid white;
}
.product-wrapper{
  padding-top:100px;
  padding-bottom:70px;
}
.container{
  width:65%;
  margin:0 auto;
}
.product-wrapper h2{
  font-size:30px;
  padding-bottom:60px;
}
.product-contact{
  display:flex;
}
.product-item{
  width:33.3333%;
}
.product-item img{
  width:90%;
  padding-bottom:35px;
}
.product-item img:hover{
  opacity:0.6;
}
.product-item p{
  width:90%;
  font-size:20px;
  font-weight:bold;
}
.product2-wrapper{
  padding-bottom:70px;
} 
.product2-contact{
  display:flex;
}
.product2-item{
  width:33.3333%;
}
.product2-item img{
  width:90%;
  padding-bottom:35px;
}
.product2-item img:hover{
  opacity:0.6;
}
.product2-item p{
  width:90%;
  font-size:20px;
  font-weight:bold;
}
.product3-wrapper{
  padding-bottom:70px;
} 
.product3-contact{
  display:flex;
}
.product3-item{
  width:33.3333%;
}
.product3-item img{
  width:90%;
  padding-bottom:35px;
}
.product3-item img:hover{
  opacity:0.6;
}
.product3-item p{
  width:90%;
  font-size:20px;
  font-weight:bold;
}
.back-wrapper{
  padding:100px 0;
  background-color:#f6f6f6;
  
}
.back-logo{
  text-align: center;
  width:220px;
  margin:0 auto;
  border: 1px solid black;
  padding:10px 0;
}
.back-logo:hover{
  background-color: black;

}
.back-logo a{
  color:black;
  display: inline-block;
}
.back-logo a:hover{
  color:white;
}
.btn-wrapper{
  padding:60px 0;
}
.btn-contact{
  text-align:center;
}
.btn{
  display:inline-block;
  width:140px;
}
.facebook{
  border: 1px solid #4871a9;
  color:#4871a9;
  padding:15px 7px;
  margin-right:20px;
  margin-bottom:10px;
}
.facebook:hover{
  color:white;
  background-color:#4871a9 ;
}
.twitter{
  border: 1px solid #70bdd3;
  color:#70bdd3;
  padding:15px 7px;
  margin-right:20px;
}
.twitter:hover{
  color:white;
  background-color:#70bdd3 ;
}
.Bookmark{
  border: 1px solid #2f9bcd;
  color:#2f9bcd;
  padding:15px 7px;
  margin-right:20px;
}
.Bookmark:hover{
  color:white;
  background-color:#2f9bcd;
}
.wrapper{
  padding:35px 0;
  background-color:#939899;
  text-align:center;
}
.list span{
  display:inline-block;
  padding-right:30px;
}
.list span a{
  color:white;
  font-size:14px;
}
.list span a:hover{
  opacity:0.6;
}
footer{
  background-color:#656c6e;
  padding:30px 0;
  height:180px;
}
.footer-logo{
  float:left;
}
.footer-right{
  padding-top:40px;
}
.footer-right p{
  float:right;
  color:white;
}

